*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #fff;
}

body,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 0.5em;
  height: 60px;
  width: 100%;
  background-color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  transition: width 1s;
  z-index: 10;
}
.nav--wide {
  width: calc(100% - 220px);
}
.nav__mobile-burger-btn {
  padding: 1em;
  color: #055c9d;
  cursor: pointer;
}
.nav__avatar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  margin: 1em 0;
  height: 50px;
  width: 80px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgb(195, 193, 193);
  cursor: pointer;
}
.nav__avatar:hover {
  background-color: #f5f5f5;
}
.nav__avatar img {
  height: 35px;
  width: 35px;
}
.nav__greeting {
  display: none;
}
.nav__menu {
  position: absolute;
  top: 80%;
  right: 0.5em;
  height: 50px;
  overflow: hidden;
  transition: 0.5s;
  z-index: -1;
  transform: 10s;
}
.nav__menu--visible {
  display: block;
  z-index: 5;
}
.nav__menu-settings {
  position: relative;
  top: -45px;
  font-size: 1.6rem;
  list-style-type: none;
  font-weight: 400;
  background-color: #f5f5f5;
  border: 1px solid #e8e2e2;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}
.nav__menu-settings--slided {
  opacity: 1;
  top: 0;
}
.nav__menu-settings-item {
  padding: 10px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -220px;
  bottom: 0;
  height: 100vh;
  width: 220px;
  color: #fff;
  background-color: #055c9d;
  transition: 1s;
  overflow: hidden;
  z-index: 5;
}
.sidebar--open {
  left: 0;
}
.sidebar__title {
  display: flex;
  padding: 1em;
  height: 60px;
  color: #fff;
  align-items: center;
  font-size: 2rem;
}
.sidebar__title-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}
.sidebar__title-logo i {
  font-size: 3rem;
}
.sidebar__title-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.sidebar__option {
  display: flex;
  padding: 0 1em;
  color: #fff;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
  font-size: 1.6rem;
}
.sidebar__option:hover {
  color: #055c9d;
  background-color: #fff;
}
.sidebar__option-icon {
  display: flex;
  justify-content: start;
  padding: 1em;
}
.sidebar__option-icon i {
  text-align: center;
  font-size: 2rem;
}
.sidebar__option-name {
  display: flex;
  justify-content: start;
  align-items: center;
}

.app {
  margin-top: 60px;
  padding: 1em;
  background-color: #fff;
  width: 100%;
}
.app__add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
  background-image: linear-gradient(to bottom right, #09c6f9, #648ac7);
  border-radius: 15px;
}
.app__add-input {
  width: 100%;
  height: 35px;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1.6rem;
}
.app__add-btn {
  border-radius: 8px;
  padding: 0.5em 2em;
  margin-left: 1em;
  height: 35px;
  color: #fff;
  background-color: #055c9d;
  font-weight: 700;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.app__add-btn:hover, .app__add-btn:active {
  background-color: #f5f5f5;
  color: black;
}
.app__tasks-area-info {
  display: block;
  margin-top: 1em;
  text-align: center;
  font-size: 1.6rem;
}
.app__tasks-list {
  list-style-type: none;
}
.app__tasks-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-top: 1em;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.app__tasks-item-text {
  position: relative;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1.6rem;
  word-break: break-all;
}
.app__tasks-item-text--done {
  color: grey;
  text-decoration: line-through;
}
.app__tasks-item-settings {
  display: flex;
  margin: 0 1em;
  align-self: flex-end;
}
.app__tasks-item-settings .done-btn,
.app__tasks-item-settings .edit-btn,
.app__tasks-item-settings .delete-btn,
.app__tasks-item-settings .save-btn {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: transform 0.3s;
}
.app__tasks-item-settings .done-btn i,
.app__tasks-item-settings .edit-btn i,
.app__tasks-item-settings .delete-btn i,
.app__tasks-item-settings .save-btn i {
  padding: 0.5em;
  font-size: 1.6rem;
}
.app__tasks-item-settings .done-btn:hover,
.app__tasks-item-settings .edit-btn:hover,
.app__tasks-item-settings .delete-btn:hover,
.app__tasks-item-settings .save-btn:hover {
  transform: scale(1.4);
}
.app__tasks-item-settings .done-btn {
  color: green;
}
.app__tasks-item-settings .edit-btn,
.app__tasks-item-settings .save-btn {
  color: royalblue;
}
.app__tasks-item-settings .save-btn {
  display: none;
}
.app__tasks-item-settings .delete-btn {
  color: tomato;
}

.settings {
  display: none;
  position: relative;
  width: 100%;
  height: 300px;
  padding: 1em;
  margin-top: 60px;
}
.settings__title {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
  width: 100%;
  border-bottom: 1px solid #055c9d;
}
.settings__title h2 {
  font-size: 2rem;
  font-weight: 400;
}

@media (min-width: 576px) {
  .app__tasks-item {
    flex-direction: row;
    align-items: center;
  }
  .app__tasks-item-settings {
    align-self: auto;
  }
}
@media (min-width: 992px) {
  .nav {
    height: 80px;
    width: calc(100% - 80px);
    padding: 1em;
  }
  .nav--wide {
    width: calc(100% - 250px);
  }
  .nav__burger-btn {
    display: none;
  }
  .nav__greeting {
    display: block;
  }
  .nav__menu {
    top: 70%;
    right: 1em;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 80px;
    color: #fff;
    background-color: #055c9d;
    font-size: 2rem;
    transition: 1s;
    overflow: hidden;
  }
  .sidebar--open {
    width: 250px;
  }
  .sidebar__title {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .sidebar__title-logo {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .sidebar__title-logo i {
    font-size: 4rem;
  }
  .sidebar__title-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
  .sidebar__option {
    display: flex;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
  }
  .sidebar__option:hover {
    color: #055c9d;
    background-color: #fff;
  }
  .sidebar__option-icon {
    display: flex;
    justify-content: start;
    padding: 1em;
  }
  .sidebar__option-icon i {
    text-align: center;
    font-size: 2.5rem;
  }
  .sidebar__option-name {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .sidebar__description {
    transition: visibility 0.5s;
    visibility: hidden;
  }
  .sidebar__description--visible {
    visibility: visible;
  }
  .app {
    margin-top: 80px;
    margin-left: 80px;
    padding: 2em;
    width: calc(100% - 80px);
    transition: 1s;
  }
  .app--wide {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
  .app__tasks-item {
    flex-direction: row;
    align-items: center;
  }
  .settings {
    margin-top: 80px;
    margin-left: 80px;
    padding: 2em;
    width: calc(100% - 80px);
    transition: 1s;
  }
  .settings--wide {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
}/*# sourceMappingURL=main.css.map */