@use '../utilities' as *;

@media (min-width: 992px) {
	.nav {
		height: 80px;
		width: calc(100% - 80px);
		padding: 1em;

		&--wide {
			width: calc(100% - 250px);
		}

		&__burger-btn {
			display: none;
		}

		&__greeting {
			display: block;
		}
		&__menu {
			top: 70%;
			right: 1em;
		}
	}

	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100vh;
		width: 80px;
		color: $white;
		background-color: $main-blue;
		font-size: 2rem;
		transition: 1s;
		overflow: hidden;

		&--open {
			width: 250px;
		}

		&__title {
			display: flex;
			align-items: center;
			height: 80px;

			&-logo {
				display: flex;
				justify-content: start;
				align-items: center;

				i {
					font-size: 4rem;
				}
			}

			&-name {
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 700;
			}
		}

		&__option {
			display: flex;
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				color: $main-blue;
				background-color: $white;
			}

			&-icon {
				display: flex;
				justify-content: start;
				padding: 1em;

				i {
					text-align: center;
					font-size: 2.5rem;
				}
			}

			&-name {
				display: flex;
				justify-content: start;
				align-items: center;
			}
		}

		&__description {
			transition: visibility 0.5s;
			visibility: hidden;

			&--visible {
				visibility: visible;
			}
		}
	}

	.app {
		margin-top: 80px;
		margin-left: 80px;
		padding: 2em;
		width: calc(100% - 80px);
		transition: 1s;

		&--wide {
			width: calc(100% - 250px);
			margin-left: 250px;
		}

		&__tasks-item {
			flex-direction: row;
			align-items: center;
		}
	}

	.settings {
		margin-top: 80px;
		margin-left: 80px;
		padding: 2em;
		width: calc(100% - 80px);
		transition: 1s;

		&--wide {
			width: calc(100% - 250px);
			margin-left: 250px;
		}
	}
}
@media (min-width: 1200px) {
}
